body {
  background: lightgray;
  display: flex;
  justify-content: center;
}

.App {
  width: 550px;
  background: white;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  background: #F55A5A;
  gap: 7px;
}

.header--logo {
  width: 24px;
}

.header--text {
  color: white;
  font-weight: 500;
  font-size: 14px;
  line-height: 18px;
  letter-spacing: -0.075em;
}

.journals {
  padding-block: 20px;
  padding-inline: 40px;
}

.journals > .journal + .journal {
  border-top: 1px solid #F5F5F5;
}

.journals .journal:first-child {
  padding-top: 0;
}

.journals .journal:last-child {
  padding-bottom: 0;
}

.journal--box {
  display: flex;
  flex-direction: column;
}

.journal {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 19px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.journal--img {
  width: 125px;
  height: 168px;
  border-radius: 5px;
}

.journal--text--pointer {
  width: 7px;
  padding-right: 4px;
}

.journal--text--country {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  letter-spacing: 0.17em;
  color: #2B283A;
  padding-right: 12px;
}

.journal--text--google {
  font-weight: 400;
  font-size: 10px;
  line-height: 12px;
  text-decoration-line: underline;
  color: #918E9B;
}

.journal--text--title {
  font-size: 25px;
  line-height: 30px;
  color: #2B283A;
  margin-top: 7px;
  margin-bottom: 0;
}

.journal--text--date {
  font-size: 10px;
  line-height: 12px;
  color: #2B283A;
  margin-top: 14px;
  margin-bottom: 0;
}

.journal--text--desc {
  font-weight: 400;
  font-size: 10px;
  line-height: 150%;
  color: #2B283A;
}